
# Export all names
exportPattern(".")

importFrom("graphics", "abline", "axis", "lines", "mtext", "par",
             "polygon", "segments", "text")
importFrom("stats", "predict", "sd")
importFrom("fields", "splint")

